#mcDonaldsImg{
    position: absolute;
    left: 60%;
    height: 550px;
    width: 550px;
}

body{
    padding: 10px;
}

#loginForm{
    position: absolute;
    top: 300px;
}

#logButton{
margin-left: 20px;
}

#passReset{
    margin: 20px;
}

#roboCheck{
    position: absolute;
    top: 600px;
   /* display: none;*/
    text-transform: capitalize;
    padding: 2px 15px;
}